[client]
	port = 3306
	socket = /var/run/mysql/mysql.sock
	default-character-set = utf8mb4
	[mysql]
	default-character-set=utf8mb4
	[mysqld_safe]
	log-error=/var/log/mysql/mysqld_safe.log
	pid-file=/var/run/mysql/mysqld_safe.pid
	[mysqld]
	basedir = /opt/mysql5
	datadir = /opt/mysql5/data
	tmpdir = /tmp
	port = 3306
	socket = /var/run/mysql/mysql.sock
	character-set-server = utf8mb4
	default-storage-engine = InnoDB
	explicit_defaults_for_timestamp = 1
	default_password_lifetime = 0
	lower-case-table-names = 2
	#secure-file-priv = /tmp
	#sql_mode=NO_ENGINE_SUBSTITUTION
	user=root
	log-error=/var/log/mysql/mysqld.log
	pid-file=/var/run/mysql/mysqld.pid
	key_buffer_size = 16M
	[mysqldump]
	default-character-set=utf8mb4
	quick

